<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/customers/layout/layout :: layout(~{::title}, ~{::#slider}, ~{::main})}">

<head>
    <title>Quên mật khẩu</title>
</head>

<body>

<div th:replace="customers/fragments/navigation :: navigation"></div>
<!--Navigation end-->

<!-- Carousel -->
<div id="slider">
</div>

<!-- Carousel -->

<main>
    <div class="container d-flex justify-content-center align-items-center full-height">
        <div class="col-5 my-5 px-5">
            <div class="w-100 text-center">
                <h2 class="fw-bold">QUÊN MẬT KHẨU</h2>
            </div>
            <form>
                <div class="mb-1 mt-3">
                    <input type="text"  class="form-control" placeholder="Email/SĐT của bạn">
                </div>
                <button class="w-100 p-2 mt-3 bt-login">KIỂM TRA</button>
                <div class="d-flex justify-content-between mt-3 ">
                    <a th:href="@{dang-ky}" class="fw-bold color-font">Đăng ký mới</a>
                    <a th:href="@{dang-nhap}" class="fw-bold color-font">Đăng nhập</a>
                </div>
            </form>
        </div>
    </div>
</main>
<!--main end-->

</body>

</html>