<div th:fragment="script">
    <script th:src="@{/layout/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/layout/js/index.js}"></script>

    <!--validation-->
    <script th:src="@{/common/validation.js}"></script>

    <!-- vendors -->
    <script th:src="@{/assets/vendors/highlight.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>

    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items: 4,
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true
            });
        })

    </script>
</div>
